In [1]:
import pandas as pd

data = pd.read_csv('/home/ouconstand/data/Virus_Host/more_than25k_host_info.csv')

In [2]:
data.shape

(48298, 8)

In [3]:
data

,VirusTaxID,HostTaxID,Representation,Length,HostGenus,HostFamily,HostOrder,HostClass
0,694014,8835,AJ311317.1,27635,anas,anatidae,anseriformes,aves
1,694014,8835,MT984601.1,27779,anas,anatidae,anseriformes,aves
2,694014,8835,MK581207.1,27791,anas,anatidae,anseriformes,aves
3,694014,8835,MK581202.1,27875,anas,anatidae,anseriformes,aves
4,694014,8835,MN517817.1,27944,anas,anatidae,anseriformes,aves
...,...,...,...,...,...,...,...,...
48293,2856926,526822,OM009282.1,30344,tylonycteris,vespertilionidae,chiroptera,mammalia
48294,2856927,526822,OM009282.1,30344,tylonycteris,vespertilionidae,chiroptera,mammalia
48295,2856928,526822,OM009282.1,30344,tylonycteris,vespertilionidae,chiroptera,mammalia
48296,2856929,526822,OM009282.1,30344,tylonycteris,vespertilionidae,chiroptera,mammalia
48297,2856930,526822,OM009282.1,30344,tylonycteris,vespertilionidae,chiroptera,mammalia

In [4]:
data['HostClass'].value_counts()

mammalia    47980
aves          318
Name: HostClass, dtype: int64

In [5]:
data['HostOrder'].value_counts()

primates           46799
chiroptera           772
galliformes          185
carnivora            144
rodentia             141
artiodactyla          78
anseriformes          59
charadriiformes       28
passeriformes         19
lagomorpha            18
eulipotyphla          17
perissodactyla         7
pelecaniformes         5
strigiformes           4
gruiformes             4
pholidota              4
columbiformes          3
falconiformes          3
accipitriformes        3
piciformes             2
sphenisciformes        2
psittaciformes         1
Name: HostOrder, dtype: int64

In [6]:
data['HostFamily'].value_counts()

hominidae           46795
vespertilionidae      289
rhinolophidae         225
phasianidae           184
pteropodidae          148
                    ...
rhinopomatidae          1
tayassuidae             1
heteromyidae            1
giraffidae              1
lorisidae               1
Name: HostFamily, Length: 63, dtype: int64

In [7]:
data['HostGenus'].value_counts()

homo             46792
rhinolophus        225
gallus             159
myotis              76
felis               72
                 ...
lissonycteris        1
pecari               1
rhinopoma            1
epomophorus          1
paguma               1
Name: HostGenus, Length: 156, dtype: int64

In [8]:
non_homo_data = data[data['HostGenus'] != 'homo']

In [9]:
non_homo_data.shape

(1506, 8)

In [10]:
non_homo_data.head()

,VirusTaxID,HostTaxID,Representation,Length,HostGenus,HostFamily,HostOrder,HostClass
0,694014,8835,AJ311317.1,27635,anas,anatidae,anseriformes,aves
1,694014,8835,MT984601.1,27779,anas,anatidae,anseriformes,aves
2,694014,8835,MK581207.1,27791,anas,anatidae,anseriformes,aves
3,694014,8835,MK581202.1,27875,anas,anatidae,anseriformes,aves
4,694014,8835,MN517817.1,27944,anas,anatidae,anseriformes,aves

In [11]:
for taxon in ['HostClass', 'HostOrder', 'HostFamily', 'HostGenus']:
    print(non_homo_data[taxon].value_counts())

mammalia    1188
aves         318
Name: HostClass, dtype: int64
chiroptera         772
galliformes        185
carnivora          144
rodentia           141
artiodactyla        78
anseriformes        59
charadriiformes     28
passeriformes       19
lagomorpha          18
eulipotyphla        17
perissodactyla       7
primates             7
pelecaniformes       5
strigiformes         4
gruiformes           4
pholidota            4
columbiformes        3
falconiformes        3
accipitriformes      3
piciformes           2
sphenisciformes      2
psittaciformes       1
Name: HostOrder, dtype: int64
vespertilionidae    289
rhinolophidae       225
phasianidae         184
pteropodidae        148
muridae             116
                   ...
rhinopomatidae        1
tayassuidae           1
cracidae              1
heteromyidae          1
giraffidae            1
Name: HostFamily, Length: 63, dtype: int64
rhinolophus      225
gallus           159
myotis            76
felis             72
miniopterus       65
                ...
lissonycteris      1
pecari             1
rhinopoma          1
epomophorus        1
paguma             1
Name: HostGenus, Length: 155, dtype: int64

In [1]:
import pandas as pd
host_info = pd.read_csv('/home/ouconstand/data/Virus_Host/non_homo_host_info.csv')
host_dict = host_info[['Representation', 'HostClass']].drop_duplicates().set_index('Representation').to_dict(orient='dict')['HostClass']

In [3]:
host_dict['AJ311317.1']

'aves'

In [4]:
import os
train = [host_dict[file] for file in os.listdir('/home/ouconstand/data/Virus_Host/0309_seqdata/')]

In [8]:
len(train)

499

In [12]:
labels_dict = dict((key, value) for value, key in enumerate(list(set(train))))

In [13]:
labels_dict

{'mammalia': 0, 'aves': 1}

In [14]:
labels = [labels_dict[i] for i in train]