In [1]:
import pandas as pd

passed_data = []
data_procession = []
with open('/home/ouconstand/data/Virus_Host/Virion.csv','r', encoding='ISO-8859-1') as f:
    for line in f.read().splitlines():
        data = line.split('\t')
        if len(data) < 34:
            passed_data.append(data)
        else:
            if data[7] == '' or data[2] == '' or data[3] == '': # delete non_family or non_virustaxid information data
                pass
            else:
                data_procession.append(data)

data = pd.DataFrame(data_procession[1:-1],columns=data_procession[0])

In [2]:
data.shape

(474422, 34)

In [5]:
coro = data[data['VirusFamily'] == 'coronaviridae']

In [6]:
coro.shape

(39699, 34)

In [15]:
len(set(coro['HostGenus']))

262

In [16]:
len(set(coro['HostFamily']))

87

In [17]:
len(set(coro['HostOrder']))

26

In [18]:
len(set(coro['HostClass']))

4

In [54]:
len(set(coro['VirusTaxID']))

1013

In [50]:
final_data = pd.DataFrame(columns=['HostGenus', 'Length_acce', 'Accession'])

n = 0
for hclass, vacce in coro.groupby(['HostGenus'])['NCBIAccession']:
    vacce = [acce for acce in list(vacce) if acce != '']
    final_data.loc[n] = [hclass, len(vacce), vacce]
    n += 1

In [49]:
final_data

,HostClass,Length_acce,Accession
0,acerodon,1,[MT064734]
1,acinonyx,0,[]
2,aethomys,1,[MK569462.1]
3,afronycteris,2,"[MG310231.1, MG252875.1]"
4,agamia,1,[GU323504.1]
...,...,...,...
257,ursus,0,[]
258,vespertilio,9,"[MT818221.1, MN312754.1, MN312755.1, MN312756...."
259,vicugna,11,"[KP893231.1, KP893232.1, KP893233.1, KP893234...."
260,vulpes,0,[]
261,zalophus,0,[]