In [8]:
import pandas as pd

passed_data = []
data_procession = []
with open('/home/ouconstand/data/Virus_Host/Virion.csv','r', encoding='ISO-8859-1') as f:
    for line in f.read().splitlines():
        data = line.split('\t')
        if len(data) < 34:
            passed_data.append(data)
        else:
            if data[7] == '' or data[2] == '' or data[3] == '' or data[33] == '': # delete non_family or non_virustaxid information data
                pass
            else:
                data_procession.append(data)

data = pd.DataFrame(data_procession[1:-1],columns=data_procession[0])

In [9]:
data.shape

(420174, 34)

In [10]:
coro = data[data['VirusFamily'] == 'coronaviridae']

In [11]:
coro.shape

(35611, 34)

In [12]:
len(set(coro['HostGenus']))

204

In [13]:
len(set(coro['HostFamily']))

73

In [14]:
len(set(coro['HostOrder']))

24

In [15]:
len(set(coro['HostClass']))

4

In [16]:
len(set(coro['VirusTaxID']))

953

In [17]:
final_data = pd.DataFrame(columns=['HostGenus', 'Length_acce', 'Accession'])

n = 0
for hclass, vacce in coro.groupby(['HostGenus'])['NCBIAccession']:
    vacce = [acce.strip(' ') for acce in ','.join(list(vacce)).split(',') if acce != '']
    final_data.loc[n] = [hclass, len(vacce),vacce]
    n += 1

In [18]:
final_data

,HostGenus,Length_acce,Accession
0,acerodon,1,[MT064734]
1,aethomys,1,[MK569462.1]
2,afronycteris,2,"[MG310231.1, MG252875.1]"
3,agamia,1,[GU323504.1]
4,ailuropoda,6,"[38098849, 38098851, 38098853, AY436635.1, AY4..."
...,...,...,...
199,turdus,4,"[211907050, 212681378, NC_011549.1, FJ376621.1]"
200,tursiops,4,"[MN690608.1, MN690609.1, MN690610.1, MN690611.1]"
201,tylonycteris,132,"[KY783855.1, KY783856.1, KY783857.1, KY783858...."
202,vespertilio,55,"[MT818221.1, MN312754.1, MN312755.1, MN312756...."
203,vicugna,30,"[KP893231.1, KP893232.1, KP893233.1, KP893234...."

In [7]:
final_data[['HostGenus','Length_acce']].to_csv('/mnt/c/Users/ouyangkang/Desktop/host_genus_statistic.csv', index=None)