In [1]:
import pandas as pd

In [6]:
snp = pd.read_csv("/mnt/d/dailywork/Mouse_brain/GWAS/naive_uniq_snp.bed", sep=" ", header=None)

/tmp/ipykernel_399/1993671653.py:1: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  snp = pd.read_csv("/mnt/d/dailywork/Mouse_brain/GWAS/naive_uniq_snp.bed", sep=" ", header=None)

In [13]:
snp.columns = ["CHR", "SNP", "BP"]
snp.drop(snp.tail(1).index, inplace=True)
snp

        CHR        SNP         BP
0         1  rs1000050  162736463
1         1  rs1000073  157255396
2         1  rs1000283  209894661
3         1  rs1000313   15405489
4         1  rs1000314   15405907
...      ..        ...        ...
1190316   9   rs999648   13064793
1190317   9   rs999655  126048349
1190318   9   rs999791   76412761
1190319   9   rs999924    1332257
1190320   9   rs999988   37635299

[1190321 rows x 3 columns]

In [14]:
snp.CHR = snp.CHR.astype(str)

In [15]:
snp.CHR = "chr" + snp.CHR

In [16]:
snp

          CHR        SNP         BP
0        chr1  rs1000050  162736463
1        chr1  rs1000073  157255396
2        chr1  rs1000283  209894661
3        chr1  rs1000313   15405489
4        chr1  rs1000314   15405907
...       ...        ...        ...
1190316  chr9   rs999648   13064793
1190317  chr9   rs999655  126048349
1190318  chr9   rs999791   76412761
1190319  chr9   rs999924    1332257
1190320  chr9   rs999988   37635299

[1190321 rows x 3 columns]

In [21]:
snp.BP = snp.BP.astype("int64")

In [22]:
snp["End"] = snp.BP + 1

In [23]:
snp = snp[["CHR", "BP", "End", "SNP"]]

In [24]:
snp.to_csv("/mnt/d/dailywork/Mouse_brain/GWAS/naive_preprocessed_snp_position.bed", index=None, header=None, sep="\t")