In [15]:
import pandas as pd
from pathlib import Path

In [7]:
work_path = "/mnt/c/Users/ouyangkang/Desktop"
value_data = pd.read_csv(f'{work_path}/cal_result.txt', sep="  ", header=None)

/tmp/ipykernel_403/239701328.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  value_data = pd.read_csv(f'{work_path}/cal_result.txt', sep="  ", header=None)

In [12]:
value_data.columns = ["md5", "path"]
value_data.head()

,md5,path
0,9199cf1c4722391e420a81baceb6c3ab,/zfssz6/BIGDATA_WAREHOUSE/bigdata_ods/for_cngb...
1,b073b661457363aca01681df13c9fbe7,/zfssz6/BIGDATA_WAREHOUSE/bigdata_ods/for_cngb...
2,4c23ca59b559ff5a3376151b3a768744,/zfssz6/BIGDATA_WAREHOUSE/bigdata_ods/for_cngb...
3,38d67e993c5baae7dfd21efbf152b8d6,/zfssz6/BIGDATA_WAREHOUSE/bigdata_ods/for_cngb...
4,8f1d9013a2f9839b90463a7216f84ef6,/zfssz6/BIGDATA_WAREHOUSE/bigdata_ods/for_cngb...

In [22]:
first_data = pd.read_csv(f"{work_path}/first.csv")
first_data.head()

                          File_1
0  DP8400027722TR_L01_40_1.fq.gz
1  DP8400027723TR_L01_40_1.fq.gz
2  DP8400027724TR_L01_40_1.fq.gz
3  DP8400027725TR_L01_40_1.fq.gz
4  DP8400027726TR_L01_40_1.fq.gz

In [23]:
value_data["File_1"] = [Path(i).name for i in value_data.path]

In [24]:
value_data

,md5,path,File_1
0,9199cf1c4722391e420a81baceb6c3ab,/zfssz6/BIGDATA_WAREHOUSE/bigdata_ods/for_cngb...,DP8400027021TL_L01_17_1.fq.gz
1,b073b661457363aca01681df13c9fbe7,/zfssz6/BIGDATA_WAREHOUSE/bigdata_ods/for_cngb...,DP8400027021TL_L01_17_2.fq.gz
2,4c23ca59b559ff5a3376151b3a768744,/zfssz6/BIGDATA_WAREHOUSE/bigdata_ods/for_cngb...,DP8400027027TL_L01_17_1.fq.gz
3,38d67e993c5baae7dfd21efbf152b8d6,/zfssz6/BIGDATA_WAREHOUSE/bigdata_ods/for_cngb...,DP8400027027TL_L01_17_2.fq.gz
4,8f1d9013a2f9839b90463a7216f84ef6,/zfssz6/BIGDATA_WAREHOUSE/bigdata_ods/for_cngb...,DP8400027028TL_L01_17_1.fq.gz
...,...,...,...
249,71633f2b1b1a6526ddd8588c7a7223d5,/zfssz6/BIGDATA_WAREHOUSE/bigdata_ods/for_cngb...,FP270000873_L01_85_2.fq.gz
250,6948a37de197439101fa599a9f4be03d,/zfssz6/BIGDATA_WAREHOUSE/bigdata_ods/for_cngb...,FP270000873_L01_86_1.fq.gz
251,96635e7b0ca3ba3f7e88543a2dc53dc3,/zfssz6/BIGDATA_WAREHOUSE/bigdata_ods/for_cngb...,FP270000873_L01_86_2.fq.gz
252,8aff85bbbb7d0f1913b56e5eb84b0132,/zfssz6/BIGDATA_WAREHOUSE/bigdata_ods/for_cngb...,FP270000873_L01_87_1.fq.gz
253,806d3177368662b6c2a2f144644231f4,/zfssz6/BIGDATA_WAREHOUSE/bigdata_ods/for_cngb...,FP270000873_L01_87_2.fq.gz

In [25]:
pd.merge(first_data, value_data, on="File_1", how="inner")[["File_1", "md5"]].to_csv(f"{work_path}/md5_first.csv", index=None)

In [26]:
second_data = pd.read_csv(f"{work_path}/second.csv")
second_data.head()

                          File_1
0  DP8400027722TR_L01_40_2.fq.gz
1  DP8400027723TR_L01_40_2.fq.gz
2  DP8400027724TR_L01_40_2.fq.gz
3  DP8400027725TR_L01_40_2.fq.gz
4  DP8400027726TR_L01_40_2.fq.gz

In [27]:
pd.merge(second_data, value_data, on="File_1", how="inner")[["File_1", "md5"]].to_csv(f"{work_path}/md5_second.csv", index=None)