In [1]:
import pandas as pd

passed_data = []
data_procession = []
with open('/home/ouconstand/data/Virus_Host/Virion.csv','r', encoding='ISO-8859-1') as f:
    for line in f.read().splitlines():
        data = line.split('\t')
        if len(data) < 34:
            passed_data.append(data)
        else:
            if data[7] == '' or data[2] == '' or data[3] == '': # delete non_family or non_virustaxid information data
                pass
            else:
                data_procession.append(data)

data = pd.DataFrame(data_procession[1:-1],columns=data_procession[0])

In [2]:
coro = data[data['VirusFamily'] == 'coronaviridae']

In [12]:
final_data = pd.DataFrame(columns=['HostOrder', 'Length_acce', 'Accession'])

n = 0
for hclass, vacce in coro.groupby(['HostOrder'])['NCBIAccession']:
    vacce = [acce for acce in ','.join(list(vacce)).split(',') if acce != '']
    final_data.loc[n] = [hclass, len(vacce),str(vacce)]
    n += 1

In [13]:
final_data

,HostOrder,Length_acce,Accession
0,accipitriformes,10,"['KP256821.1', ' KP256822.1', ' KP256828.1', '..."
1,anseriformes,574,"['AY702975.1', 'MF034362.1', ' MF034376.1', 'M..."
2,artiodactyla,7901,"['KT368891.1', 'MF593476.1', 'KX897163.1', 'KT..."
3,carnivora,3465,"['38098849', '38098851', '38098853', 'AY436635..."
4,charadriiformes,135,"['MG764134.1', ' MG764135.1', ' MG764136.1', '..."
5,chiroptera,5487,"['KF843853.1', 'HQ184060.1', 'LC334391.1', 'KM..."
6,columbiformes,24,"['KX588632.1', 'KX588636.1', '304359456', '304..."
7,cypriniformes,1,['MW645029.1']
8,diprotodontia,0,[]
9,eulipotyphla,111,"['KX286017.1', 'KX286014.1', 'KX286014', 'KX28..."
10,falconiformes,3,"['LC364342.1', 'KP256841.1', ' KP256842.1']"
11,galliformes,8211,"['MK032181.1', 'MH924835.1', 'MK032177.1', ' M..."
12,gruiformes,8,"['MK617400.1', 'LC364343.1', 'JQ065049.1', 'NC..."
13,lagomorpha,47,"['KM888175.1', 'KM888176.1', 'KM888174.1', 'KM..."
14,passeriformes,35,"['KU251476.1', 'KU251490.1', 'KU251477.1', '21..."
15,pelecaniformes,75,"['GU323504.1', '353444952', '353445000', '3534..."
16,perissodactyla,47,"['LC149485.1', ' LC149487.1', ' LC149489.1', '..."
17,pholidota,17,"['MT084071.1', 'MT040333.1', ' MT040334.1', ' ..."
18,piciformes,2,"['KP256824.1', ' KP256837.1']"
19,primates,1000307,"['AB548619.1', ' AB548620.1', ' AB548621.1', '..."
20,procellariiformes,0,[]
21,psittaciformes,5,"['KP256820.1', 'KP211413.1', 'KP965434.1', 'KP..."
22,rodentia,941,"['MT222079.1', 'LC334347.1', ' LC334348.1', ' ..."
23,sphenisciformes,7,"['283510348', 'GU323505.1', 'MT025058.1', 'JX0..."
24,squamata,1,['MG600026.1']
25,strigiformes,11,"['KP256827.1', ' KP256834.1', ' KP256838.1', '..."

In [11]:
train = pd.DataFrame(coro.groupby('HostOrder')['NCBIAccession'])
train

                    0                                                  1
0     accipitriformes  50541                                         ...
1        anseriformes  125
1...
2        artiodactyla  25
521       KT368891.1
522 ...
3           carnivora  61
62
63
64        ...
4     charadriiformes  14620                                         ...
5          chiroptera  18                                            ...
6       columbiformes  141                                           ...
7       cypriniformes  53519    MW645029.1
Name: NCBIAccession, dtype...
8       diprotodontia      418323
Name: NCBIAccession, dtype: object
9        eulipotyphla  723                                           ...
10      falconiformes  840                  LC364342.1
46130         ...
11        galliformes  144                                           ...
12         gruiformes  160
161          ...
13         lagomorpha  385407                                        ...
14      passeriformes  14
122
16...
15     pelecaniformes  1708
3408
3409...
16     perissodactyla  46810                                         ...
17          pholidota  390255                                        ...
18         piciformes  49883
49884         ...
19           primates  34163
47172
47260
48579     ...
20  procellariiformes  423187
423188
Name: NCBIAccession, dty...
21     psittaciformes  4509
4510
4511  ...
22           rodentia  5                                             ...
23    sphenisciformes  14191                              283510348
1...
24           squamata  471395    MG600026.1
Name: NCBIAccession, dtyp...
25       strigiformes  391842                                        ...