In [1]:
import scanpy as sc

atac = sc.read_h5ad('/mnt/c/Users/ouyangkang/Desktop/atac_tryMultivelo.h5ad')
rna = sc.read_h5ad('/mnt/c/Users/ouyangkang/Desktop/rna_tryMultivelo.h5ad')

In [2]:
atac

AnnData object with n_obs × n_vars = 360 × 16725
    obs: 'orig.ident', 'nCount_RNA', 'nFeature_RNA', 'assay', 'timeslot', 'subtype_old', 'tissue_old_RNA', 'tissue_update_RNA', 'germ_layer', 'tissue_ATAC', 'subtype_new', 'mature_neurons_cluster'
    var: 'name'
    obsm: 'X_pca', 'X_umap'

In [3]:
rna

AnnData object with n_obs × n_vars = 640 × 16725
    obs: 'orig.ident', 'nCount_RNA', 'nFeature_RNA', 'assay', 'timeslot', 'subtype_old', 'tissue_old_RNA', 'tissue_update_RNA', 'germ_layer', 'tissue_ATAC', 'subtype_new', 'mature_neurons_cluster'
    var: 'name'
    obsm: 'X_pca', 'X_umap'

In [10]:
import pandas as pd

replace_atac_rna = pd.read_csv('/mnt/d/dailywork/paried_atac_rna.csv')

In [11]:
replace_atac_rna

,Unnamed: 0,ATAC,RNA,dist
0,1,ATAC2206210006_ATAC2206210006_BC05663_N03,CELL399_N1_5_2,39.230780
1,2,ATAC2206210008_ATAC2206210008_BC00869_N04,CELL2616_N1_13_2,42.825230
2,3,ATAC2206210031_ATAC2206210031_BC11938_N03,CELL3926_N1_19_2,45.410822
3,4,ATAC2206210007_ATAC2206210007_BC04607_N01,CELL9670_N1_7_1,54.415448
4,5,ATAC2206210025_ATAC2206210025_BC11234_N01,CELL11368_N1_1_1,51.467176
...,...,...,...,...
560,561,ATAC2206100045_ATAC2206100045_BC03174_N02,CELL1043_N1_8_1,38.566203
561,562,ATAC2208290013_ATAC2208290013_BC03169_N02,CELL10158_N1_1_1,52.018350
562,563,ATAC2206210027_ATAC2206210027_BC17899_N03,CELL144_N1_12_1,41.018603
563,564,ATAC2206100038_ATAC2206100038_BC01868_N01,CELL2470_N1_2,35.478653
564,565,ATAC2208290013_ATAC2208290013_BC08482_N01,CELL6969_N1_7_1,52.702349

In [22]:
min_distance = {}

for index, contents in replace_atac_rna.iterrows():
    if contents[1] in min_distance.keys() and contents[3] > min_distance[contents[1]][1]:
        min_distance[contents[1]] = [contents[2], index]
    else:
        min_distance[contents[1]] = [contents[2], index]

In [25]:
len(min_distance) == len(set(replace_atac_rna.ATAC))

True

In [30]:
min_distance['ATAC2208290013_ATAC2208290013_BC08482_N01'][0]

'CELL6969_N1_7_1'