In [10]:
import pandas as pd

seq_data = pd.read_csv('/home/ouconstand/data/Virus_Host/rmdup_data.csv')
seq_length = pd.read_table('/home/ouconstand/data/Virus_Host/sequence_length.tsv', sep='\t')
seq_length.columns = ['Representation', 'Length']

In [11]:
seq_data.head()

   VirusTaxID  HostTaxID Representation
0      694014       8835     MF034372.1
1      694014       8835     MF034361.1
2      694014       8835     MF034370.1
3      694014       8835     JX173489.1
4      694014       8835     DQ401286.1

In [21]:
len(set(seq_data['VirusTaxID']))

942

In [12]:
seq_length.head()

  Representation  Length
0     MW320914.1   29742
1     MW320920.1   29506
2     MW320940.1   29507
3     MW320956.1   29515
4     MW320961.1   29782

In [13]:
final = pd.merge(seq_data, seq_length, how='inner', on='Representation')

In [14]:
final.head()

   VirusTaxID  HostTaxID Representation  Length
0      694014       8835     MF034372.1    1596
1      694014     110668     MF034372.1    1596
2      694014      48849     MF034372.1    1596
3      694014       9031     MF034372.1    1596
4      694014       8835     MF034361.1     561

In [66]:
train = final[['VirusTaxID', 'Representation', 'Length']]
print(train.shape)
train.drop_duplicates(subset=['VirusTaxID', 'Representation', 'Length'], inplace=True)
print(train.shape)

(59759, 3)
(59205, 3)

<ipython-input-66-57804715d2eb>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.drop_duplicates(subset=['VirusTaxID', 'Representation', 'Length'], inplace=True)

In [73]:
less_20k = train[train['Length'] < 20000]
more_20k = train[train['Length'] > 20000]

more_20k_id = set(more_20k['VirusTaxID'])
less_20k_id = set(less_20k['VirusTaxID'])

info = []

for i in less_20k_id:
    if i not in more_20k_id:
        info.append(i)

In [77]:
with open('/mnt/c/Users/ouyangkang/Desktop/virustaxid.txt', 'w') as f:
    f.writelines(map(lambda x:str(x)+'\n' ,info))

In [29]:
train

       VirusTaxID Representation  Length
0          694014     MF034372.1    1596
4          694014     MF034361.1     561
5          694014     MF034370.1     561
6          694014     JX173489.1    1595
9          694014     DQ401286.1     137
...           ...            ...     ...
59754     2042560     KX285747.1     387
59755     2042560     KX284997.1     249
59756     2042560     KX286039.1     286
59757      694006     MT064734.1     261
59758      694006     MT083146.1     252

[59205 rows x 3 columns]

In [43]:
repre = train.groupby('Representation')['VirusTaxID']
repre

In [47]:
repre.groups

{'AB007451.1': [59492], 'AB514164.1': [59472], 'AB514461.1': [4430, 4431], 'AB535528.1': [57583], 'AB543561.1': [57489], 'AB548621.1': [1193], 'AB548624.1': [56263], 'AB551247.1': [59089], 'AB555559.1': [1378], 'AB555560.1': [1379], 'AB644273.1': [59021], 'AB644274.1': [59022], 'AB683970.1': [59263], 'AB683971.1': [58108], 'AB781788.1': [1654], 'AB781790.1': [1056], 'AB781791.1': [1057], 'AB781796.1': [1656], 'AB781798.1': [1060], 'AB781800.1': [470], 'AB781805.1': [1061], 'AB781806.1': [1657], 'AB781808.1': [1063], 'AB781812.1': [1064], 'AB781815.1': [1065], 'AB812842.1': [55645], 'AB812844.1': [55646], 'AB812854.1': [55648], 'AB812859.1': [55649], 'AB812860.1': [55650], 'AB812863.1': [55651], 'AB812864.1': [55652], 'AB812868.1': [55653], 'AB812870.1': [55654], 'AB812871.1': [55655], 'AB812872.1': [55656], 'AB857233.1': [59507], 'AB857234.1': [56358], 'AB857235.1': [56359], 'AB889995.1': [55925], 'AB907624.1': [1672], 'AB907631.1': [1070], 'AB907634.1': [1673], 'AB918717.1': [57501], 'AB918719.1': [57502, 57503], 'AB935749.1': [1677], 'AB935750.1': [1678], 'AB935751.1': [1679], 'AB935753.1': [1680], 'AB935755.1': [1681], 'AB935756.1': [1682], 'AB935758.1': [1674], 'AB935759.1': [1691], 'AB935761.1': [1675], 'AB935762.1': [1692], 'AB935765.1': [1683], 'AB935766.1': [1684], 'AB935767.1': [1685], 'AB935771.1': [1686], 'AB935772.1': [1687], 'AB935775.1': [1693], 'AB935776.1': [1688], 'AB935777.1': [1694], 'AB935778.1': [1689], 'AB935780.1': [1690], 'AB935782.1': [1676], 'AB935784.1': [1695], 'AB936003.1': [1696], 'AF220295.1': [685, 693], 'AF502583.1': [57427], 'AH015739.2': [976], 'AJ550983.1': [57698], 'AJ854114.1': [577], 'AJ854130.1': [57329], 'AJ854132.1': [1198], 'AJ871017.1': [578], 'AJ871018.1': [579], 'AJ871019.1': [580], 'AJ871020.1': [581], 'AJ871021.1': [582], 'AJ871023.1': [1199], 'AJ871024.1': [57330], 'AJ884686.1': [59470], 'AM261815.1': [4314, 4315], 'AM261816.1': [4429], 'AM261821.1': [4158, 4159], 'AM261822.1': [4432], 'AM262515.1': [2087], 'AM262519.1': [2091], 'AY335549.1': [56133], 'AY337931.1': [56134], 'AY436637.1': [472], 'AY461600.1': [59469], 'AY528745.1': [967], 'AY528747.1': [969], 'AY528748.1': [970], 'AY528749.1': [968], 'AY528751.1': [971], 'AY613951.1': [55839], 'AY613952.1': [55840], ...}

In [58]:
dic_repre = repre.groups
n = 0
for k, v in dic_repre.items():
    if len(v) > 1:
        n += 1

print(n)

254

In [61]:
x = pd.DataFrame(train.groupby('Representation')['VirusTaxID'].count())
x = x.reset_index()
x.columns = ['representation', 'count']

In [64]:
x[x['count'] >= 2]

      representation  count
2         AB514461.1      2
44        AB918719.1      2
68        AF220295.1      2
83        AM261815.1      2
85        AM261821.1      2
...              ...    ...
12211     MW600658.1      8
12212     MW600666.1      4
24143     MW802581.1      4
27680     MW898904.1      2
43840    NC_032730.1      3

[254 rows x 2 columns]

In [ ]:
train.groupby('VirusTaxID')