In [1]:
import pandas as pd

passed_data = []
data_procession = []
with open('/home/ouconstand/data/Virus_Host/Virion.csv','r', encoding='ISO-8859-1') as f:
    for line in f.read().splitlines():
        data = line.split('\t')
        if len(data) < 34:
            passed_data.append(data)
        else:
            if data[7] == '' or data[2] == '' or data[3] == '' or data[33] == '': # delete non_family or non_virustaxid information data
                pass
            else:
                data_procession.append(data)

data = pd.DataFrame(data_procession[1:-1],columns=data_procession[0])

In [3]:
data.shape

(420174, 34)

In [4]:
coro = data[data['VirusFamily'] == 'coronaviridae']

In [5]:
coro.shape

(35611, 34)

In [6]:
vh_pairs = coro[['HostTaxID', 'VirusTaxID']]
vh_pairs.drop_duplicates(subset=['HostTaxID', 'VirusTaxID'])

       HostTaxID VirusTaxID
27        258862    1532174
28         27671    1076425
29         27671    1906673
30          9437    1582306
63         53274     694014
...          ...        ...
418994     30538    1770168
418998     30538     669204
418999     30538     694014
419002     30538     694003
419011     30538      11137

[1544 rows x 2 columns]

In [8]:
print('the count of coronavirus species is : ' + str(len(set(coro['VirusTaxID']))))

the count of coronavirus species is : 953